<div id="patients">
	<h1>Patients</h1>
	<%= search_field_tag :s, "filter patients", {:style => "width:100%;"} %>
	<ul>
	<%= render current_user.patients %>
	</ul>
	<div class="button">
	<%= link_to image_tag("plus.jpg"), [:new, current_user, :patient] %>
	</div>
</div>
<div id="shedule" class="">
	<% if current_user.schedule %>
		<%= render current_user.schedule %>
	<% else %>
		<p>
			You haven't set your schedule yet, please do it  <%= link_to "here", [:new, current_user, :schedule] %>
		</p>
	<% end %>
</div>
<div id="waiting-list">
	<h1>Waiting List</h1>
		<%= search_field_tag :s, "filter patients", {:style => "width:100%;"} %>
	<ul>
		<%= render current_user.schedule.appointments.waiting %>
	</ul>
</div>

