<% workday = current_user.schedule.workdays.where(:day_of_week => date.wday).first %>
<div class="day <%= "today" if date.strftime("%a %d %b %Y") == Date.today.strftime("%a %d %b %Y") %>">
	<div class='title'>
		<%= date.strftime("%a %d %b %Y") %>
	</div>
	<div class='workday'>
		<%= workday.to_s %>
	</div>
	<div class="hours">
	<% 6.upto 23 do |h| %>
		<div class='hour <%= "not_working" if (h < workday.start_time.hour || h >= workday.end_time.hour  ) %>'>
		<em><%= h -%></em>
		<% 0.upto 60 do |m| %>
			<div class="minute <%= "half_hour" if m == 30 %>">
				
			</div>
		<% end %>
		</div>
	<% end %>
	</div>
</div>