<% workday = current_user.schedule.workdays.where(:day_of_week => date.wday).first %>
<div class="day <%= "today" if date.strftime("%a %d %b %Y") == Date.today.strftime("%a %d %b %Y") %>">
	<div class="head">
	<div class='title'>
		<%= date.strftime("%a %d %b %Y") %>
	</div>
	<div class='workday'>
		<%= workday.to_s %>
	</div>
	</div>
	<div class="hours">
	<% current_appointment = false %>
	<% 6.upto 23 do |h| %>
		<div id="hour<%= Date.today.strftime("%a %d %b %Y")%>" class='hour <%= "not_working" if (h < workday.start_time.hour || h >= workday.end_time.hour  ) %>'>
		<em><%= h %></em>
		<% 0.upto 59 do |m| %>
			<% appointment = current_user.schedule.busy?(Time.new(date.year, date.month, date.day, h, m))%>
			<% if appointment && !current_appointment %>
				<% current_appointment = true %>
				<div class="<%= "half_hour" if m == 30 %> busy" style="<%= "height:#{(appointment.end_time - appointment.start_time)/60}px;" %>">
					<%= "#{appointment.start_time.strftime("%k:%M ")} - #{appointment.end_time.strftime("%k:%M ")}"%>
					<%= appointment.title %><br />
					<%= "#{appointment.patient.first_name} #{appointment.patient.last_name}" %><br />
					<%= link_to "Edit", [:edit, current_user, appointment.patient, appointment] %>
				</div>
			<% end %>
			<% if !appointment %>
				<% current_appointment = false %>
			<% end %>
				<div class="minute <%= "half_hour" if m == 30 %>">
				</div>
		<% end %>
		</div>
	<% end %>
	</div>
</div>
