<!DOCTYPE html>
<html>
<head>
  <title>SbpMappo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<<<<<<< HEAD
<menu>
	<% if user_signed_in? %>
		<%= "Hello #{current_user.first_name}"%>
		<% if current_user.schedule %>
			<%= link_to "edit you shedule", [:edit, current_user, current_user.schedule] %>
		<% end%>
		
	<% end %>
</menu>
=======

>>>>>>> refs/remotes/origin/master
<%= yield %>

</body>
</html>
